
{% extends 'base.html' %}

{%block content %}
    <div class="container">
        <div class="card">
            <h1 class="card-heading">Register</h1>
            <div class="card-body">
                <form method="POST" action="{% url 'register' %}">
                    <!-- <input type="text" placeholder="Enter your username"> -->
                     {% csrf_token %}
                     <!-- {{form.as_p}}
                     <input type="submit" class="card-submit"> -->
                     <div class="card-form-group">
                        <label for="{{form.username.id_for_label}}">Username</label>
                        <input class="card-form-group-input" type="text" name="{{form.username.name}}" value="{{form.username.value}}" placeholder="Enter your username">
                        <span >{{form.username.errors}}</span>
                     </div>

                     <div class="card-form-group">
                        <label for="{{form.password1.id_for_label}}">Password</label>
                        <input class="card-form-group-input" type="password" name="{{form.password1.name}}" value="{{form.password1.value}}" placeholder="Enter your password">
                        <span >{{form.password1.errors}}</span>
                     </div>

                     <div class="card-form-group">
                        <label for="{{form.password2.id_for_label}}">Confirm password</label>
                        <input class="card-form-group-input" type="password" name="{{form.password2.name}}" value="{{form.password2.value}}" placeholder="Confirm your password">
                        <span >{{form.password2.errors}}</span>
                     </div>
                     <input type="submit" class="card-form-button">

                </form>
            </div>
        </div>
    </div>
{% endblock %}